* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    border: 1px dashed;
}

header {
    border-bottom: 2px solid black;
    padding: 10px 20px;
}

main {
    padding: 0 20px;
}

article {
    border: 2px solid black;
    padding: 20px;
    margin: 20px 20px;
    min-height: 200px;
}

footer {
    padding: 10px 20px;
    border-top: 2px solid black;
}